@import './common-variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-y: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $size-text-default;
    -webkit-touch-callout: none;
    user-select: none;
}