@import '../../resources/styles/common-variables';

div.View {
    margin: 10px;
    padding: 5px;
    background-color: yellow;
    position: absolute;  
    float: left; 
    width: 500px;
    height: 800px; 
}
div.Control {
    margin: 10px;
    padding: 5px;
    background-color: teal;
    position: absolute;
    left: 525px;
    
}