div.picture {
    margin: 10px;
    padding: 5px;
    width: 150px;
    height: 100px;
    color: whitesmoke;
    background-color: blue;
    border-radius: 50px;
    border-style: solid;
    border-left-style: solid;
    border-color: dimgrey;  
}